<small>
	<a href="/">Home</a> | <a href="https://github.com/stevearm/book-bridge">Github</a>
</small>
<h2>GoodReads shelves</h2>
<ul>
{{#each shelves}}
    <li><a href="/gr/{{../userId}}/{{name}}">{{name}}</a> ({{bookCount}} books)</li>
{{/each}}
</ul>
